/* COLORS */

:root {
    --logia: rgb(89,155,215);
    --sport: rgb(168,188,69);
}


/* HEADER */

header {
    background-color: rgba(147, 192, 243, 0.253);
}

#logo {
    padding: 25px 20px 0px 180px;
    margin: 0;
}

#logo img {
    height: 80px;
    width: auto;
}

#definition {
    font-weight: 500;
    font-size: 17px;
    padding: 10px 40px 10px 180px;
    color: rgb(41, 64, 112);
    text-shadow: 0px 0px 1px rgba(55, 58, 73, 0.267);
}

.container-fluid {
    padding-left: 180px;
    border-top: 4px solid var(--sport);
    box-shadow: 0px -2px 1px var(--sport);
}

header .nav-custom {
    padding: 0;
    background-color: var(--logia);
}

header .nav-custom button {
    height: 45px;
    width: 170px;
    border: none;
    background-color: var(--logia);
    color: white;
    font-weight: 600;
    transition: 0.1s;
}

header .nav-custom ul {
    border-radius: 0;
    border: none;
    padding: 0;
}

.dropdown-btn:hover {
    background-color: var(--sport);
}

.articles-issues-tab:hover .articles,
.authors-tab:hover .authors,
.info-tab:hover .info  {
    display: block;
    background-color: var(--logia);
    transition: 0.1s;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
    background-color: var(--logia);
}

.dropdown-item {
    padding: 10px 20px;
    width: 170px;
    text-align: center;
    color: white;
    transition: 0.1s;
}

.dropdown-item:hover {
    background-color: var(--sport);
    color: white;
    transition: 0.1s;
}

/* FOOTER */

.ft-container {
    background: rgba(147, 192, 243, 0.253);
    box-shadow: 0px -5px 5px rgba(147, 192, 243, 0.253);
    padding: 50px 180px 0px 180px;
    display: flex;
}

.ft-left {
    width: 75%;
}

.ft-left img {
    width: 300px;
}

.ft-left p {
    font-weight: 500;
    padding: 10px 0px;
    margin: 0px;
    color: rgb(41, 64, 112);
}

.issn {
    padding: 5px 0px;
    margin: 0px;
}

.subscription {
    padding: 20px 0px;
}

#alert {
    padding-bottom: 2px;
    color: rgb(41, 64, 112);
    text-shadow: 0 0 1px rgb(41, 64, 112);
}

.mail {
    padding-bottom: 10px;
}

.email {
    width: 50%;
    height: 40px;
    padding: 2px;
    font-size: 17px;
}

.email:hover {
    border: 2px solid var(--sport);
    box-shadow: 0px 0px 2px var(--sport);
    outline: none;
}

.email:focus {
    border: 2px solid var(--logia);
    box-shadow: 0px 0px 2px var(--logia);
    outline: none;
}

.sub-btn {
    height: 45px;
    width: 170px;
    border: none;
    background-color: var(--logia);
    color: white;
    font-weight: 600;
    transition: 0.1s;
}

.sub-btn:hover {
    background-color: var(--sport);
    transition: 0.1s;
}

.ft-right {
    width: 25%;
}

.ft-right * {
    display: block;
    width: 100%;
    text-align: right;
}

.ft-right h4 {
    font-size: 27px;
    color: rgb(41, 64, 112);
    text-shadow: 0 0 1px rgb(41, 64, 112);
}

.ft-right a {
    text-decoration: none;
    line-break: normal;
    font-size: 18px;
    color: rgb(41, 64, 112);
    text-shadow: 0 0 1px rgb(41, 64, 112);
}

/* COPYRIGHT */

.copyright {
    border-top: 5px solid var(--sport);
    border-bottom: 5px solid var(--logia);
    display: flex;
    position: relative;
    box-shadow: 0px -1px 5px var(--sport);
}

.copyright div {
    width: 50%;
    height: 40px;
}

.green-bkg {
    background-color: var(--sport);
}

.copyright .gradient-bkg {
    width: 120px;
    background: linear-gradient(155deg, var(--sport) 50%, var(--logia) 50%);
}

.blue-bkg {
    background-color: var(--logia);
}

.copyright p {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    bottom: -1px;
    margin: 0;
    color: snow;
    text-shadow: 0 0 2px snow;
    font-size: 18px;
}

